<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Advanced positioning</title>
  </head>
  <body>
    <header>
      <ul class="main-header">
        <li>Home</li>
        <li>Menu 1</li>
        <li>
          Menu 2
          <ul class="sub-header">
            <li>Sub Menu 1</li>
            <li>Sub Menu 2</li>
            <li>Sub Menu 3</li>
          </ul>
        </li>
        <li>Menu 3</li>
      </ul>
    </header>
  </body>
</html>
