body {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.main-container {
  width: 50rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
}
.contianer {
  width: 1500%;
  height: 100%;
  background-image: url(./img/bg.jpg);
  background-position: center;
}

.mario-img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100px;
  top: 295px;
  left: 340px;
  z-index: 10;
}
.mario-img img {
  width: 100%;
  height: 100%;
  display: block;
}
