* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wraper {
  max-width: 1024px;
  /* min-width: 900px; */
  margin: 0 auto;
}
.paragraph-1 {
  padding: 20px;
  margin-bottom: 20px;
  background-color: yellow;
  width: 400px;
  max-width: 300px;
  height: 500px;
  overflow: hidden;
  margin: 40px auto;
}

.wraper-2 {
  margin-top: 200px;
}
.paragraph-2 {
  background-color: red;
  width: 600px;
  max-height: 200px;
  height: 300px;
  margin: 0 auto;
}

.par-border {
  background-color: yellow;
  /* border: 5px solid black; */
  margin-bottom: 20px;
  padding: 10px 30px;
  border-width: thick;
}
.par-border:first-child,
.par-border:last-child {
  /* border: 5px solid red; */
  /* border-width: thick; */
  border: 5px dashed red;
}
.par-border:nth-child(3) {
  border: 5px solid green;
}
.par-border:first-child,
.par-border:nth-child(3) {
  padding: 50px;
}
.par-border:nth-child(4) {
  padding-top: 50px;
}

.par-border:first-child {
  width: 300px;
  margin: 50px;
}
.par-border:nth-child(2) {
  width: 400px;
  text-align: center;
}
.par-border:nth-child(3) {
  width: 200px;
  margin-left: 100px;
}
.wraper-3 > p {
  display: inline-block;
  margin-left: 20px;
  width: 20ch;
}

.wraper-3 > p:nth-child(3),
.wraper-3 > p:nth-child(2) {
  visibility: hidden;
}

h1 {
  width: 960px;
  margin: 50px auto;
  padding: 50px 0 50px;
  text-align: center;
  background-color: green;
  font-family: "Courier New", Courier, monospace;
  color: red;
  box-shadow: inset 0 0 54px black;
  border-radius: 5px;
}
