html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Black.ttf);
}

ul {
  padding: 0;
  list-style: none;
}
main {
  margin: 0 auto;
  width: 1200px;
}
/* ///HERO  */
.hero {
  height: 70vh;
  background-image: url(./img/banner3.jpg);
  display: flex;
  flex-direction: column;
  gap: 20rem;
  /* justify-content: space-between; */
  color: #f9f9f9;
  margin-bottom: 4rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px 0 30px;
}

.logo {
  font-size: 45px;
}
.logo span {
  border: 3px solid white;
  border-right: none;
  color: yellowgreen;
}

.main-nav {
  display: flex;
  gap: 10px;
}
.nav-item a {
  font-size: 22px;
}

.sub-heading-container {
  /* padding: 5px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #eee;
}
.sub-heading {
  font-size: 5.5rem;
  text-align: center;
}
.sub-heading-btn {
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  background-color: #1369b3;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: inherit;
}

.about-us-container {
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us-contnet {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.about-us-heading {
  grid-column: 1 / -1;
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
  position: relative;
}
.simbol {
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-bottom: 2rem;
  transform: rotate(135deg);
}
.about-us-heading::before {
  position: absolute;
  content: "";
  bottom: -1rem;
  left: -30px;
  width: 10rem;
  height: 5%;
  background-color: red;
}
.about-us-heading::after {
  position: absolute;
  content: "";
  bottom: -1rem;
  right: -30px;
  width: 10rem;
  height: 5%;
  background-color: red;
}
.img-container {
  /* background-image: url(./img/banner3.jpg);
  background-position: center; */
  /* object-fit: cover; */
  width: 40%;

  /* object-position: center;
  background-color: red; */
}
.img-container img {
}
img {
  display: block;
  width: 25%;
}

.about-card {
  /* background-color: red; */
  padding: 0 2rem;
  /* width: 50rem; */
  /* width: 30%; */
  flex: 0 0 30%;
}
.about-card__heading {
  font-size: 2.4rem;
  margin: 1rem 0;
}
.about-card__content {
  font-size: 1.8rem;
  line-height: 1.7;

  font-weight: 600;
}
.about-card__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 400;
  margin: 3rem 0;
}
.about-card__list-item {
  font-size: 1.6rem;
}
.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-contnet {
  display: flex;
  gap: 2rem;
}
.service-heading {
}
.testemonials {
  background-color: #82c3f5;
  padding: 3rem;
}
.img-rating-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.img-rating-container img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 1px solid black;
}
.testemonials-par {
  font-size: 1.6rem;
  line-height: 1.7;
}
