<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Layout style</title>
  </head>
  <body>
    <ul class="main-nav">
      <li class="main-nav__list-item"><a href="#">Home</a></li>
      <li class="main-nav__list-item"><a href="#">About</a></li>
      <li class="main-nav__list-item"><a href="#">Cotact</a></li>
      <li class="main-nav__list-item"><a href="#">Blog</a></li>
    </ul>
    <div class="css-image-container">
      <img src="" />
    </div>
    <div class="html-image-container">
      <img src="" />
    </div>
    <div class="some-par"></div>
    <div class="some-par"></div>
    <div>
      <ul>
        <li>Zasto</li>
        <li>Zasto</li>
        <li>Zasto</li>
        <li>Zasto</li>
        <li>Zasto</li>
      </ul>
    </div>
    <div class="some-par"></div>
    <div class="some-par"></div>
    <div class="some-par"></div>
    <div class="some-par"></div>
    <div class="some-par"></div>
    <div class="some-par"></div>
  </body>
</html>
