<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Layout style</title>
  </head>
  <body>
    <div class="wraper">
      <header>
        <ul class="main-nav">
          <li class="main-nav__list-item"><a href="#">Home</a></li>
          <li class="main-nav__list-item"><a href="#">About</a></li>
          <li class="main-nav__list-item"><a href="#">Cotact</a></li>
          <li class="main-nav__list-item"><a href="#">Blog</a></li>
        </ul>
      </header>
      <div class="img-section">
        <div class="image-container">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png"
          />
        </div>
        <div class="image-container">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png"
          />
        </div>
      </div>
      <main class="content">
        <figure class="contetnt-item">
          <div class="color color-1">300<span>X</span>200</div>
          <div class="some-par">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia itaque
            inventore sunt non deleniti sint magnam eius, neque culpa quasi
            repellendus illo corporis ullam ea tenetur! Obcaecati incidunt enim
            natus!
          </div>
        </figure>
        <figure>
          <div class="color color-2">300<span>X</span>200</div>
          <div class="some-par">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia itaque
            inventore sunt non deleniti sint magnam eius, neque culpa quasi
            repellendus illo corporis ullam ea tenetur! Obcaecati incidunt enim
            natus!
          </div>
        </figure>

        <ul class="question-div">
          <li>Rebuilding slack.com</li>
          <li>Zasto Bootcamp Format</li>
          <li>React - prozor u svet aplikacija</li>
          <li>Najvece Zablude o programerima u Srbiji</li>
        </ul>

        <figure class="contetnt-item">
          <div class="color color-4">300<span>X</span>200</div>
          <div class="some-par">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia itaque
            inventore sunt non deleniti sint magnam eius, neque culpa quasi
            repellendus illo corporis ullam ea tenetur! Obcaecati incidunt enim
            natus!
          </div>
        </figure>
        <figure class="contetnt-item">
          <div class="color color-3">300<span>X</span>200</div>
          <div class="some-par">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia itaque
            inventore sunt non deleniti sint magnam eius, neque culpa quasi
            repellendus illo corporis ullam ea tenetur! Obcaecati incidunt enim
            natus!
          </div>
        </figure>
        <figure class="contetnt-item">
          <div class="color color-1">300<span>X</span>200</div>
          <div class="some-par">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia itaque
            inventore sunt non deleniti sint magnam eius, neque culpa quasi
            repellendus illo corporis ullam ea tenetur! Obcaecati incidunt enim
            natus!
          </div>
        </figure>
        <figure class="contetnt-item">
          <div class="color color-2">300<span>X</span>200</div>
          <div class="some-par">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia itaque
            inventore sunt non deleniti sint magnam eius, neque culpa quasi
            repellendus illo corporis ullam ea tenetur! Obcaecati incidunt enim
            natus!
          </div>
        </figure>
        <figure class="contetnt-item">
          <div class="color color-4">300<span>X</span>200</div>
          <div class="some-par">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia itaque
            inventore sunt non deleniti sint magnam eius, neque culpa quasi
            repellendus illo corporis ullam ea tenetur! Obcaecati incidunt enim
            natus!
          </div>
        </figure>
        <figure class="contetnt-item">
          <div class="color color-3">300<span>X</span>200</div>
          <div class="some-par">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia itaque
            inventore sunt non deleniti sint magnam eius, neque culpa quasi
            repellendus illo corporis ullam ea tenetur! Obcaecati incidunt enim
            natus!
          </div>
        </figure>
      </main>
    </div>
    <footer>
      <h3><span>&#xA9;</span>BitStudent</h3>
    </footer>
  </body>
</html>
