body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.wraper {
  width: 960px;
  margin: 0 auto;
}
.main-nav {
  list-style: none;
  background-color: #c1392b;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding-right: 20px;
  margin-bottom: 2px;
}
.main-nav__list-item a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  padding: 10px 0;
}

.some-par {
  width: 30ch;
  font-size: 18px;
  margin-top: 10px;
  line-height: 1.4;
  padding: 10px 15px;
}

.question-div {
  list-style: none;
  padding: 0;
  background-color: #ffbe00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  padding: 40px 0;
}
.question-div li {
  font-size: 18px;
  margin: 5px 15px;
  border-bottom: 1px solid black;
}
.img-section {
  display: flex;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(
    90deg,
    rgb(21, 140, 206) 20%,
    rgb(40, 163, 225) 40%,
    rgb(119, 137, 155) 50%,
    rgb(240, 101, 40) 50%,
    rgb(240, 100, 39) 80%,
    rgb(238, 95, 38) 100%
  );
}
.image-container {
  object-fit: cover;
  object-position: center;
  width: 50%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  display: flex;

  /* od do do */
}

.image-container:first-child img {
  padding-right: 50px;
}
.image-container:nth-child(2) {
  justify-content: flex-start;
}
.image-container:nth-child(2) img {
  padding-left: 10px;
}
img {
  display: block;
  height: 300px;
}

.content {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

.color {
  background-color: red;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
}
span {
  display: inline-block;
  margin: 0 5px;
}
.color-1 {
  background-color: #c1392b;
}
.color-2 {
  background-color: #2d3e50;
}
.color-3 {
  background-color: #26ae61;
}
.color-4 {
  background-color: #ffbe00;
}
.contetnt-item {
  /* background-color: red; */
  width: 300px;
}
footer {
  background-color: #2d3e50;
}
h3 {
  margin-left: 480px;
  padding: 18px 0;
  font-weight: 500;
  color: #fff;
  font-size: 22px;
  position: relative;
  z-index: 0;
}
